/* src/WorkoutFinished.css */

.workout-finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.workout-finished h1 {
  color: #333; /* Make it readable */
}
