.workout-runner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .workout-runner h1 {
    color: #333; /* Darken workout name for readability */
  }

  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
  }

  .progress-bar div {
    height: 100%;
    background-color: #28a745;
    transition: width 0.5s ease-in-out;
  }

  .current-step {
    text-align: center;
  }

  .current-step h2, .countdown {
    color: #333;
  }

  .current-step h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  .exercise-description {
    font-size: 1.2rem;
    color: #666;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .countdown {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    transition: color 0.3s ease; /* Smooth transition for color change */
    margin-top: 14px;
  }

  /* Styles for the pause indicator */
  .countdown-container {
    position: relative;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }

  .countdown-container.paused .countdown {
    color: #a0a0a0; /* Grey out text when paused */
    opacity: 0.7;
  }

  .pause-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Allow clicks to pass through */
  }

  .pause-overlay::before,
  .pause-overlay::after {
    content: '';
    display: block;
    width: 20px; /* Width of each bar */
    height: 80px; /* Height of each bar */
    background-color: #6c757d; /* Color of the pause bars */
    border-radius: 4px;
    position: absolute; /* Position pseudo-elements */
    top: 50%;
    transform: translateY(-50%);
  }

  .pause-overlay::before {
    left: 20px; /* Position first bar */
  }

  .pause-overlay::after {
    right: 20px; /* Position second bar */
  }

  .controls {
    display: flex;
    gap: 1rem;
  }

  .controls button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .current-section-name {
    font-size: 1.5rem;
    color: #007bff; /* A blue color to distinguish from main exercise */
    margin-bottom: 0.5rem;
  }

  .controls .nav-button {
    background-color: #6c757d; /* Grey */
    color: white;
  }

  .controls .nav-button:hover {
    background-color: #5a6268; /* Darker grey on hover */
  }

  .end-workout {
    background-color: #dc3545;
    padding: 0.5rem 1rem; /* Smaller padding */
    font-size: 0.9rem;    /* Smaller font size */
  }

  .end-workout:hover {
    background-color: #c82333;
  }
